p
{
	color: blue;
}

*
{
	text-align: center;
	font-family: "trebuchet ms", arial, "courrier new", verdana, serif;
}

body
{
	background-image: url(img/arriereplan.png);
	background-attachment: fixed;
}

h1
{
	border : white double 3px;
	width: 50%;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 10px 10px 10px grey;
	margin: auto;
}

img
{
	box-shadow: 0px 10px 10px black;
}

h2
{
	color: #4d4443;
	border: grey solid 3px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 5px 5px 5px white;
	width: 60%;
	margin: auto;
}

ul
{
	font-weight: bold;
}

nav
{
	border-right: dotted black 2px;
	position: absolute;
	height: 500px;
	margin-left: 700px;
	margin-top: 30px;
}

section
{
	border: solid black 4px;
	position: relative;
	width: 61%;
	height: 500px;
	margin-left: 38%;
	margin-top: 3%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items:center;
	padding: 0%;
	text-align: justify;
}

article
{
	border: solid black 1px;
	width: 30%;
	height: 500px;
	margin:auto
}

