p
{
	color: blue;
}

*
{
	text-align: center;
	font-family: "trebuchet ms", arial, "courrier new", verdana, serif;
}

body
{
	background-image: url(img/arriereplan.png);
	background-attachment: fixed;
}

h1
{
	border : white double 3px;
	width: 50%;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 10px 10px 10px grey;
	margin: auto;
}

img
{
	box-shadow: 0px 10px 10px black;
}

h2
{
	color: #4d4443;
	border: grey solid 3px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 5px 5px 5px white;
	width: 30%;
	margin: auto;
}

ul
{
	font-weight: bold;
}