p
{
	color: blue;
}

*
{
	text-align: center;
	font-family: "trebuchet ms", arial, "courrier new", verdana, serif;
}

body
{
	background-image: url(img/arriereplan.png);
	background-attachment: fixed;
}

h1
{
	border : white double 3px;
	width: 50%;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 10px 10px 10px grey;
	margin: auto;
}

img
{
	box-shadow: 0px 10px 10px black;
}

h2
{
	text-decoration: underline;
}

ul
{
	font-weight: bold;
}

nav
{
	border-right: dotted black 2px;
	position: absolute;
	height: 510px;
	margin-left: 700px;
	margin-top: 2px;
}

section
{
	position: relative;
	width: 61%;
	height: 500px;
	margin-left: 38%;
	margin-top: 1%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items:center;
	padding: 0%;
	text-align: justify;
}

article
{
	border-radius: 2%;
	box-shadow: 4px 4px 4px 4px grey;
	width: 30%;
	height: 500px;
	margin:auto;
	background-color: rgba(237, 239, 242, 0.4);
}

